/*
Base
*/

* {
    -cc-margin: 10px;
    -cc-padding: 10px;
    -cc-base-color: darkgray;
    -cc-darker-color: derive(-cc-base-color, -55%);
    -cc-dark-color: derive(-cc-base-color, -25%);
    -cc-light-color: derive(-cc-base-color, 95%);
    -cc-background-color: -cc-base-color;
    -cc-default-color: -cc-light-color;
    -cc-accent-color: yellowgreen;
    -cc-focus-color: derive(-cc-accent-color, 25%);
    // Default resets
    -fx-focus-color: transparent !important;
    -fx-faint-focus-color: transparent !important;
    -fx-accent: transparent !important;
    -fx-text-base-color: -cc-dark-color;
    -fx-dark-text-color: -cc-light-color;
    -fx-mid-text-color: -cc-base-color;
    -fx-light-text-color: -cc-dark-color;
    -fx-text-fill: -cc-default-color;
    -fx-fill: -cc-default-color;
    -fx-border-insets: 0 !important;
    -fx-border-width: 0 !important;
    -fx-border-radius: 0 !important;
}

.root {
    -fx-background-color: -cc-background-color !important;
    -fx-text-fill: -cc-default-color !important;
}

.button {
    -fx-background-color: -cc-darker-color;
}

.lightText, .lightText * {
    -fx-dark-text-color: -cc-light-color !important;
    -fx-mid-text-color: -cc-light-color !important;
    -fx-light-text-color: -cc-light-color !important;
    -fx-text-fill: -cc-light-color !important;
    -fx-fill: -cc-light-color !important;
    -fx-text-base-color: -cc-light-color !important;
}

.darkText, .darkText * {
    -fx-dark-text-color: -cc-darker-color !important;
    -fx-mid-text-color: -cc-darker-color !important;
    -fx-light-text-color: -cc-darker-color !important;
    -fx-text-fill: -cc-darker-color !important;
    -fx-fill: -cc-darker-color !important;
    -fx-text-base-color: -cc-darker-color !important;
}

.largeText {
    -fx-font-size: 32px;
}

.mediumText {
    -fx-font-size: 22px;
}

.smallText {
    -fx-font-size: 12px;
}

/*
Separator
*/

.separator {
    -fx-padding: 16px !important;
    -fx-background-insets: 15px !important;
    -fx-background-color: -cc-darker-color !important;
    -fx-effect: dropshadow(gaussian, -cc-darker-color, 5, 0, 0, 0);
}

.separator:horizontal {
    -fx-pref-width: 80%;
}

.separator:vertical {
    -fx-pref-height: 80%;
}

/*
Scene
*/

.scene {
    -fx-pref-width: 800px;
    -fx-pref-height: 800px;
}

/*
Menu
*/

.menu-bar {
    -fx-background-color: white;
    -fx-padding: 0 10px 0 10px !important;
}

.menu {
    -fx-padding: 15px 10px 15px 10px;
    -fx-background-insets: 10px 0px 10px 0px;
    -fx-background-color: -cc-light-color;
}

.menu:hover {
    -fx-effect: dropshadow(gaussian, -cc-accent-color, 5, 0, 0, 0) !important;
}

.menu.alive {
    -fx-background-color: -cc-accent-color;
}

/*	
Context menu	
*/	

.tab-content-area .context-menu {	
    -fx-background-color: -cc-darker-color;
}

/*
TAB
*/

.tab-pane {
    -fx-padding: 0 !important;
}

.tab-pane *.tab-header-background {
    -fx-background-color: white;
    -fx-effect: none;
    -fx-padding: 0 !important;
}

// TODO How to floating

.tab-pane {
    -fx-border-width: 0;
    -fx-tab-min-width:100px;
}

.tab {
    -fx-background-color: -cc-darker-color !important;
    -fx-font-weight: bold;
    -fx-padding: 5px 15px 0 15px;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 5px 0 0 0;
}

.tab:selected {
    -fx-background-insets: 0;
    -fx-padding: 5px 15px 5px 15px;
    -fx-background-color: -cc-dark-color !important;
    -fx-effect: innershadow(gaussian, -cc-focus-color, 5, 0, 0, 0) !important;
}

/*
Scroll pane
*/

.scroll-pane > * {
    -fx-padding: 0 !important;
}

.scroll-bar {
    -fx-padding: 0 !important;
}

.scroll-bar .track {
    -fx-background-color: -cc-background-color;
}

.scroll-bar .thumb {
    -fx-background-color: -cc-dark-color;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 20px;
    -fx-background-insets: 0 5px 5px 5px;
}

.scroll-bar .increment-button ,
.scroll-bar .decrement-button {
    -fx-padding: 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0;
}

/*
Module
*/

.module {
    -fx-padding: 15px !important;
    -fx-background-insets: 5px !important;
    -fx-border-width: 2px !important;
    -fx-border-radius: 5px !important;
    -fx-border-color: -cc-darker-color !important;
    -fx-border-insets: 1px !important;
    -fx-background-color: none !important;
}

/*
Control parameter module
*/

#controlParameterModule {
    -fx-max-width: 800px;
    -fx-vbar-policy: never;
    -fx-fit-to-height: true;
}

#controlParameterScrollContainer {
    -fx-background-color: -cc-background-color;
    -fx-padding: 0 0 20 0;
}

.controlParam {
    -fx-text-fill: -cc-dark-color;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-pref-column-count: 7; //x.xxxxx
}

.controlParam:readonly {
    -fx-text-fill: -cc-default-color;
    -fx-background-color: none;
}

/*
Stop button
*/

#manualControlEmergiencyStop {
    -fx-pref-height: 100px;
    -fx-pref-width: 100px;
    -fx-background-color: red;
    -fx-shape: "M -1.5 -3 L 1.5 -3 L 3 -1.5 L 3 1.5 L 1.5 3 L -1.5 3 L -3 1.5 L -3 -1.5 z";
}

/*
Arrow buttons
*/

.arrowButtonContainer {
    -fx-alignment: center;
    -fx-scale-shape: true;
    -fx-position-shape: true;
}

.arrowButton {
    -fx-pref-height: 60px;
    -fx-pref-width: 60px;
    -fx-shape: "M 0 0 L 0 -30 L 30 0 L 0 30 z";
    -fx-scale-x: 0.4;
}

.arrowButtonUp {
    -fx-rotate: 270deg;
}

.arrowButtonRight {
    -fx-rotate: 0deg;
}

.arrowButtonLeft {
    -fx-rotate: 180deg;
}

.arrowButtonDown {
    -fx-rotate: 90deg;
}

.indicatorGroup {
    -fx-min-width: 80px;
    -fx-background-insets: 5px;
    -fx-padding: 5px;
}

/*
Mode indicator
*/

.modeIndicator {
    -fx-min-width: inherit;
    -fx-padding: 5px;
    -fx-background-color: -cc-default-color;
    -fx-effect: innershadow(gaussian, -cc-dark-color, 2, 0, 0, 0) !important;
    -fx-alignment: center;
}

.modeIndicator:selected {
    -fx-background-color: -cc-accent-color;
}

#wasdButton:selected {
    -fx-background-color: -cc-accent-color;
}

/*
Map view feature
*/

#mapViewFeature {
    -fx-pref-height: 500px;
    -fx-pref-width: 700px;
    -fx-min-height: -fx-pref-height;
    -fx-min-width: -fx-pref-width;
    -fx-max-height: -fx-pref-height;
    -fx-max-width: -fx-pref-width;

    -fx-background-color: -cc-dark-color;
}

.mapNodeDot {
    -fx-fill: -cc-light-color;
    -fx-stroke: -cc-darker-color;
    -fx-stroke-width: 2px;
}

.mapPathLine {
    -fx-fill: none;
    -fx-stroke: -cc-light-color;
    -fx-stroke-width: 20px;
    -fx-stroke-line-cap: round;
}

#newRouteButton:selected {
    -fx-background-color: -cc-accent-color;
}

